#startmenu {
  padding: 10px;
  height: 500px;
  width: 300px;
  position: absolute;
  bottom: 0;
  background-color: #2f2f2f;
  border: 1px solid #4c3412;
  border-radius: 2px;
  display: flex;
  flex-direction: column;

  #searchbar {
    height: 30px;
    background-color: #2f2f2f;
    border-radius: 4px;
    overflow: hidden;
    input {
      width: 100%;
      height: 100%; /* Adjust height as needed */
      border: none; /* Remove input border for a seamless look */
      background-color: #404040;
      color: white;

      &::placeholder {
        padding: 5px;
      }
    }
  }
}
div#startmenu-content {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  #sidemenu {
    padding: 4px;
    border: 1px solid #4c3412;
    height: 100%;
    .iconmenu {
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
  #sidemenu-list {
    padding: 4px;
    width: 300px;
    height: 100%;
    .list-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      img {
        width: 30px;
        height: 30px;
      }
      p {
        color: white;
        margin: 0px;
      }
    }
  }
}
