.terminal-console textarea {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  resize: none;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  color: white;
  font-family: monospace;
}
.terminal-console textarea:focus {
  outline: none;
}
